<div id="body">
  <div id="fondo">
    <app-navbar></app-navbar>
    <div id="bloque">
      <div id="wow">
        <img src="assets/img/chica.png" />
      </div>
      <div id="formulario">
        <div id="lugares">
          <img src="assets/img/plan.png" />
        </div>
        <div id="formulario">
          <div id="contenedor">
            <div class="contenido">
              <div id="name">
                <input placeholder="Nombre completo"/>
              </div>
              <div id="phone">
                <input placeholder="Teléfono de contacto">
              </div>
            </div>
            <div class="contenido">
              <div id="email">
                <input placeholder="Correo electrónico">
              </div>
              <div>
                <select id="dni">
                  <option>DNI</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                 </select>
              </div>
              <div>
                <input id="doc" placeholder="N° de documento">
              </div>
            </div>
            <div class="contenido">
              <div>
                <select class="poblacion">
                  <option>LIMA</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                </select>
              </div>
              <div>
                <select class="poblacion">
                  <option>LIMA METROPOLITANA</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                </select>
              </div>
              <div>
                <select class="poblacion">
                  <option>LA MOLINA</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                </select>
              </div>
            </div>
            <div class="contenido">
              <div>
                  <p id="algun">¿Cuentas actualmente con algún proveedor de internet en casa?</p>
              </div>
            </div>
            <div class="contenido">
              <div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Sí</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="contenido">
              <div>
                <select id="proveedor">
                  <option>Selecciona tu proveedor actual</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                </select>
              </div>
            </div>
            <div class="contenido">
              <div>
                <input id="servicio" placeholder="¿Qué servicio tienes con ellos?">
              </div>
              <div>
                <select id="pago">
                  <option>¿Cuánto pagas?</option>
                  <option>Primera opción</option>
                  <option>Segunda opción</option>
                  <option>Tercera opción</option>
                  <option>Cuarta opción</option>
                </select>
              </div>
            </div>
            <div class="contenido">
              <div>
                <mat-checkbox>Acepto <u>términos y condiciones</u></mat-checkbox>
              </div>
            </div>
            <div class="contenido">
              <div>
                <button mat-raised-button color="primary">Ver Planes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bajo">
  <mat-toolbar-row>
    <div id="bajo1">
      <div class="example-card">
        <div id="porque">
          <img src="assets/img/porque.png" />
        </div>
        <div class="texto">
          <p>
            Ofrecemos internet 100% Fibra Óptica, para que naveguemos a gran
            <br />
            velocidad con descargas ilimitadas y muy estable, para disfrutarla
            en tu
            <br />
            computadora, celular, laptop, tablet o smart TV con toda tu familia
            y al
            <br />
            mismo tiempo.
          </p>
        </div>
        <div id="info">
          <img src="assets/img/info.png" />
        </div>
        <div class="texto">
          <p>
            *Canjeando el valor de la instalación con tus Puntos WOW. Precio
            regular de instalación S/.400.
            <br />
            La velocidad mínima garantizada es del 40% del plan conttratado.
            Para el plan de 50Mbps será de
            <br />
            20Mbps, para el plan de 100Mbps será de 40Mbps, para el plan de
            250Mbps será de 100Mbps y
            <br />
            para el plan de 500Mbps será de 200Mbps. *Instalación sin costo
            sujeto a las condiciones de
            <br />
            contratación y permanencia. **Promoción con stock mínimo 50 clientes
            por plan. Servicio
            <br />
            prestado por Desarrollo de Infraestructura de Telecomunicaciones
            Perú S.A.C.
          </p>
        </div>
      </div>
    </div>
    <div id="bajo2">
      <img src="assets/img/chico.png" />
    </div>
  </mat-toolbar-row>
</div>
